@model Photo
@{
}

<div class="card-body p-md-2 mt-2">
    <form method="post" enctype="multipart/form-data" asp-action="AddPhoto" asp-controller="Photo">
        <input asp-for="ImageUrl" hidden />
    <div>
    <div class="border p-3 mt-4">
        <div class="form-floating py-2 col-12">
            <input asp-for="Title" class="form-control border-0 shadow" />
            <label asp-for="Title" class="ms-2"></label>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-floating py-2 col-12">
            <input asp-for="Description" class="form-control border-0 shadow" />
            <label asp-for="Description" class="ms-2"></label>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-floating py-2 col-12">
            <input asp-for="Author" class="form-control border-0 shadow" />
            <label asp-for="Author" class="ms-2"></label>
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="form-floating py-2 col-12">
            <input asp-for="CreatedDate" class="form-control border-0 shadow" />
                    <label asp-for="CreatedDate" class="ms-2 text-muted"> mm/dd/yyyy"</label>
            <span asp-validation-for="CreatedDate" class="text-danger "></span>
        </div>
        <div>
            <input type="file" name="image" class="form-control ms-2" />
            <label asp-for="ImageUrl" class="ms-2"></label>
        </div>
    </div>
        <button type="submit" class="bg-secondary border-light rounded mb-3"> Add Photo</button>
    </form>
</div>